<a href="https://colab.research.google.com/github/marcacohen/ppp4e/blob/master/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Python Programming for Everyone (PPP4E)

**Lesson 1, Python Basics**

Link to this notebook: [mco.fyi/py1](https://mco.fyi/py1)

**You can make a copy of this notebook by selecting File->Save a copy in Drive from the menu bar above.**

## Course Theme

* **Practical** - We will focus on doing useful things with Python.
* **Python** - We will focus on one language only (Python).
* **Programming** - We will learn some ideas and concepts that apply to programming in any language.
* **for Everyone** - There are no prerequisites - we'll start at the beginning and take one step at a time.

## Instructor

I'm [Marc](https://mco.dev/about-marc). I love teaching, programming, and teaching programming. :)

* My email address is marc@mco.dev. Feel free to reach out if I can help with anything.
* I'm [@marcacohen](https://twitter.com/marcacohen) on twitter.
* My blog can be found at [mco.dev](https://mco.dev)

## Logistics


* Let's quickly introduce ourselves...
* One 90-minute meeting (first class is two hours) per week for eight weeks, August 12 through September 30, 2020.
* Let's never go more than 50 mins without a break. Remind me if I forget!
* Classes are held via videoconference @ [mco.fyi/meet](https://mco.fyi/meet) on Wednesday evenings, 7-8:30pm BST.
* **Please mark your attendance at each session via [mco.fyi/attend](https://mco.fyi/attend)**.
* You are looking at a Colab (aka Jupyter) notebook. We'll use these for many purposes: lecture notes, exercises, homework, etc. I'll share a new notebook for each lesson.
* Later on, we'll see how to setup your own Python environment locally, but don't worry about that for now.
* I'll record each class so you can review the video at any time.
* We'll communicate with each other via the class email list: ppp4e@googlegroups.com. Feel free to use this forum for asking questions.
* If you'd like to speak with me privately, feel free to email me at marc@mco.dev.
* Please mute your mic when not talking but feel free to unmute at any time to ask a question.
* If you're comfortable sharing your video feed that's great but it's definitely not required.
* I'm happy to meet outside of class if you are stuck or need a little extra help. Just email me.
* This is a brand new course. Bear with me if there are a few rough edges but please do share any feedback about how I can improve anything.

## Textbook

[Automate the Boring Stuff with Python](http://automatetheboringstuff.com/)

Great fit for our course:
* well written
* free to read online
* perfect for beginners
* focusses on practical applications
* if you buy it, make sure you get the 2nd edition

<br>

<img height="350" src="https://mco.dev/img/automate.png">

## Learning to Code

* Programming is a creative activity.
* There has never been a better time in history to learn to code.
* Anyone can learn to program, as long as you’re willing to do the work.
* Practice between classes is very important.
* Give yourself time & kindness.
* Mistakes are feedback.
* When you get stuck:
  * Don’t beat yourself up.
  * Take a break.
  * Don’t be afraid to ask me or a peer for help.
* The dirty secret about professional programmers: *We all use Google, all the time.*

# Background

## The March of Progress

> The cell phone in your pocket has more computing power than all of NASA back in 1969.

They used it to put two astronauts on the moon. We use it to play Candy Crush. :) Learning to program gives you the power to build amazing things with your computer.

## What is an algorithm?

A step-by-step procedure for solving a problem or accomplishing some end, especially by a computer

Example Algorithm: Marc’s Scrambled Eggs Recipe

**Ingredients:**
* 2 eggs
* butter

**Cooking steps:**
  * mix eggs in a bowl
  * lightly coat a frying pan with gasoline
  * heat pan to 4000 degrees
  * stir eggs until solid
  * pour mixed eggs into frying pan

Just like programs, recipes can have errors, or "bugs". Can you find three bugs in this recipe?

## What is a program?

* Encoding of an algorithm, in some particular programming language.
* In other words, a set of instructions, which tell a computer how to do something. 
* Programming statements are called “source code” or just “code”.
* "Coding" is just another word for programming.

## What is a programming language?

* A set of rules for expressing algorithms symbolically.
* Provides an abstraction layer for using your computer to solve a problem.
* Provides a way to reuse other peoples’ work.

## What is Python and why learn it?

* a programming language that was invented in 1989 by Dutch programmer Guido van Rossum
* powerful and expressive
* easy to learn
* highly readable
* freely available open source
* widely used & well supported
* Very strong for:
  * Data Science
  * Statistics
  * Machine Learning
  * Social Sciences
  * Web development
  * Scientific and numerical computing
  * Education
* not a bad thing to have on your resume/CV


[Python is eating the world: How one developer's side project became the hottest programming language on the planet](https://www.techrepublic.com/article/python-is-eating-the-world-how-one-developers-side-project-became-the-hottest-programming-language-on-the-planet/)

Here's a snapshot of the popularity of Python as of June 2020:

![alt text](https://redmonk.com/sogrady/files/2020/07/lang-rank-q320-wm.png)

[Source: RedMonk Programming Language Rankings: June 2020](https://redmonk.com/sogrady/2020/07/27/language-rankings-6-20/?utm_source=rss&utm_medium=rss&utm_campaign=language-rankings-6-20)

And here's a visualization of Python's growth over time:

![alt text](https://149351115.v2.pressablecdn.com/wp-content/uploads/2017/09/growth_major_languages-1-1400x1200.png)

[Source: The Incredible Growth of Python](https://stackoverflow.blog/2017/09/06/incredible-growth-python/)

## What is a Notebook?

* You're looking at one. :) 
* Notebooks are interactive documents where you can read instructions and try your own code experiments in one unified experience. 
* The notebooks we're using are called [Jupyter](https://jupyter.org) and the hosting service (the notebook provider) is called [Google Colaboratory](https://colab.research.google.com/) or just "Colab". This service makes it easy to use and share Python notebooks for free, much like Google Docs.
* Homework for next week: watch this [short video](https://www.youtube.com/watch?v=inN8seMm7UI) and take a [quick tour of Colab](https://colab.research.google.com/notebooks/intro.ipynb).

# Your first Python program

In [ ]:
print('Hello world!')

Just for context, here's how I wrote that program in 1982:

```
HELLO    CSECT               The name of this program is 'HELLO'
 *                            Register 15 points here on entry from OPSYS or caller.
          STM   14,12,12(13)  Save registers 14,15, and 0 thru 12 in caller's Save area
          LR    12,15         Set up base register with program's entry point address
          USING HELLO,12      Tell assembler which register we are using for pgm. base
          LA    15,SAVE       Now Point at our own save area
          ST    15,8(13)      Set forward chain
          ST    13,4(15)      Set back chain               
          LR    13,15         Set R13 to address of new save area
 *                            -end of housekeeping (similar for most programs) -
          WTO   'Hello World' Write To Operator  (Operating System macro)
 *
          L     13,4(13)      restore address to caller-provided save area
          XC    8(4,13),8(13) Clear forward chain
          LM    14,12,12(13)  Restore registers as on entry
          DROP  12            The opposite of 'USING'
          SR    15,15         Set register 15 to 0 so that the return code (R15) is Zero
          BR    14            Return to caller
 *           
 SAVE     DS    18F           Define 18 fullwords to save calling program registers 
          END  HELLO          This is the end of the program

```

Now you see why I love Python. :)

The `print` function provides a mechanism to generate output from a Python program. Another useful function to know about is the `input` function. It's sort of the opposite of `print`, because it gathers input into your program. Here's an example:

In [ ]:
print('Enter your name: ')
name = input()
print('Hello', name + '!')

Printing a prompt before gathering input is such a common pattern that you can combine them into one function call, like this:

In [ ]:
name = input('Enter your name: ')
print('Hello', name + '!')

🎉 Congratulations - you are now a Python programmer! 🎉

![alt text](https://memegenerator.net/img/instances/59258413.jpg)

# Expressions

Expressions are sequences of values and operators, like `2 + 2`. In fact, let's make sure that's a valid expression by running the next cell...

In [ ]:
2 + 2

Here's a slightly more complex expression to convert the temperature in New York today (78F) from Fahrenheit to celsius...

In [ ]:
 (212 - 32) * 5/9

Let's combine `input`, `print`, and expressions to build a temperature conversion program...

In [ ]:
degrees_f = input('Enter number of degrees in fahrenheit: ')
print(degrees_f)
degrees_c = round((int(degrees_f) - 32) * 5/9)
print(degrees_c)
print(f'{degrees_f}°F = {degrees_c}°C')

In [ ]:
degrees_c = input('Enter number of degrees celsius: ')
print(degrees_c)
degrees_f = round((int(degrees_c) * 9/5) + 32)
print(degrees_f)
print(f'{degrees_c}°C= {degrees_f}°F')

# Errors - when bad things happen to good programs

In [ ]:
'42' + '1'

### Three kinds of errors

* **syntax errors**: invalid Python
```
    print'Hello from Python')
```

* **runtime errors**: legal code tries to do something illegal
```
    primt('Hello from Python')
```
* **logic errors**: code is legal and runs fine but it does the wrong thing
```
    age = birth_year - current_year 
```

# Comments

* `#` marks the rest of the line as a "comment"
* Ignored by Python
* useful for documenting your code
* blank lines are also fine and sometimes improve readability

Example:

In [ ]:
# Python ignores this line.
# print('this line does not print anything when commented out')
# The following blank lines are ignored as well...

print('hi') # this is a comment


# I can have as many comments and blank lines as I like in a program.
# They are for the benefit of me and "future me".

Try removing the `#` preceding the `print` function call in the previous cell. We call this "uncommenting" a line of code.

Now put the `#` back in place. We call this "commenting out" a line of code. Often we'll do this to temporarily disable some code from running, where we want to keep the code in place for possible future use.

# What is a function?

* A reusable piece of code that completes a specific task.
* We just met two functions - `print` and `input` are functions you used to do input/output (I/O) operations.
* We say "call" or "invoke" a function to request that it do its job.
* We do this by writing the function name followed by parentheses (aka brackets).
* We may optionally include some values inside the brackets. We call those values function arguments, or just arguments.
* We'll often refer to this process as "passing arguments" to a function.
* I like to think of the function as a work request and the arguments as the job specification.
* For example, you can pass arguments to the print function to produce just about any desired output.

In [ ]:
print('test')
print()
print('this', 'is', 'a', 'test')

## More about print

A print function call with no arguments simply prints a blank line:

In [ ]:
print()

In [ ]:
# Now try calling the print function with something else, like your name...
print('your name here')

Functions are the basic building blocks of a Python program. Later we'll see how to define your own functions. We've seen a simple print function call with zero and one argument:

In [ ]:
print('My name is Marc')

We can also print a sequence of arguments, where spaces are added between each element in sequence, like this:

In [ ]:
print('My', 'name', 'is', 'Marc')
print('next line')

By default, we get a newline character at the end of a print request but we can override that behavior using the `end` argument:

In [ ]:
print('My name is Marc')
print('next line')

print('My name is Marc', end='\n')
print('next line')

We can also change the separator string, using the `sep` argument, like this:

In [ ]:
print('My', 'name', 'is', 'Marc', sep='\n')

My
name
is
Marc

We could even use a null (empty) separator:

In [ ]:
print('My', 'name', 'is', 'Marc', sep='', end='')
print('hi')

## Challenges

* Change the output message to anything you want.
* Repeat the code on multiple lines to output several messages.
* See what happens when you remove different parts of the code (e.g. brackets, commas, etc.).

# Numbers

## Numeric Types

Python supports two main types of numbers
* int, arbitrary size signed integers, like these:
  * `2011`
  * `-999999999999`
* float, arbitrary precision floating point numbers, like these:
  * `3.14159`
  * `3.8 * 10**6`

For the most part, you don't need to worry about which type of number to use - Python will take care of that for you. The decimal point tells Python which to use.

Mixing floats and ints results in a float so, for example, `2011 * 3.14` results in a floating point number.

Try entering these expressions in the following cell:

```
print(5 - 6)  
print(8 * 9)
print(6 / 2)  
print(5 / 0)  
print(5.0 / 2)
print(5 % 2)  
print(2 * 10 + 3)  
print(2 * (10 + 3))  
print(2 ** 4)
```
Were there any outputs you didn't expect?

In [ ]:
print(5 - 6) 
print(8 * 9)
print(6 / 2)
print(5 / 2)  
print(5.0 / 2)
print(5 % 2)  
print(2 * 10 + 3)  
print(2 * (10 + 3))  
print(2 ** 4)

-1
72
3.0
2.5
2.5
1
23
26
16

## Numerical/Arithmetic Operators

| operator | operation on numbers | operation on strings |
|----------|----------------------|---------------------|
+|addition|concatenation
-|subtraction|undefined
*|multiplication|repetition
//|integer division|undefined
/|real division|undefined
%|modulus (remainder)|undefined
**|exponentiation|undefined
()|prioritization|prioritization

# Strings

## Rules of the Road

* a character string (or just string) is a sequence of characters surrounded by quotes
* strings give you the ability to operate on a sequence of characters as a basic unit
* strings are an example of a general category of data types called sequences, which we'll see more of later
* you can use single or double quotes to delineate strings but you must be consistent within a string
* `"this works"` and `'this works'` too
* `"this is not ok'`, `'nor is this"`

## Embedded Quotes

How to embed a single or double quote inside a string?

You can embed a single quote in a double quoted string:

```
"this string's fine"
'but this doesn't work'
```
You can embed a double quote in a single quoted string:

```
'but this string is "A-OK"'
"but this "example" fails"
```

You can also "escape" a single or double quote with the backslash character:

```
'Marc\'s string'
"I like \"The Office\""
```

## Escape Sequences

These are useful for embedding special characters in a string.

|character|escape sequence|
|---------|---------------|
|tab|\t|
|newline|\n|
|single quote|\\'|
|double quote|\\"|
|backslash|\\\\|

Examples are shown in the next cell...

In [ ]:
# escape sequence examples

print("Quoth the raven: \"nevermore\".")
print('My country \'tis of thee')
print('line1\nline2\nline3')
print("field1\tfield2\tfield3")
print('c:\\directory\\file')
print('several escape sequences:\n1/1\t1/2\n2/1\t2/2')

## Triple Quoted Strings
Sometimes you want to define a long string, that spans multiple lines, or a string containing embedded single and/or double quotes and don't want to use a lot of escape characters. Triple quoted strings are perfect for this job:

In [ ]:
"""
    This is a triple quoted string.
    It goes on for multiple lines.
    It contains things like ' and ",
    which would normally have to be escaped,
    but anything goes in a triple quoted string.
"""
print(longstr)

### Challenge

For each of the following examples tell me if it’s a legal Python string... 
1. `'Go ahead, make my day.'`
1. `"There's no place like home."`
1. `'Frankly my dear, I don't give a damn'`
1. `'Say "hello" to my little friend'`
1. `"You\'re gonna need a bigger boat"`
1. `'"You talkin' to me?"'`
1. `'Fasten your seatbelts, it\'s going to be a bumpy night'`
1. `'''Striker: "Surely you can't be serious!" Rumack: "I am serious... and don't call me Shirley".'''`
1. `"You had me at "hello"."`

## String Operators

`+` and `*` can be used to operate on strings.

Try the code in the cell below. One of these raises an error. What do you think the error message means?

In [ ]:
print("Cat")
print("Cat" + "videos")
print("Clyro " * 3)
print("Cat" + 3)

In [ ]:
# To notice:  33 (the integer) is different from "33" (the string)

print(33 + 33)
print(type(33+33))
print()
print("33" + "33")
print(type("33" + "33"))

66
<class 'int'>

3333
<class 'str'>

### Converting to a string

You can use the `str()` function to convert a numeric type into a string, like this:

In [ ]:
print("cat" + "3")
print("Cat" + str(3))

## String Methods

* Method: A repeatable piece of code that completes a task for a specific data-type.

* We invoke a method using the `.` syntax, e.g. `mystr.upper()`.

* Methods are specific to a data-type
e.g. `.upper()` can be used with a string but not an integer or a float

In [ ]:
print("Cat".upper())
print("Cat".lower())
print("the lord of the rings".title())
name = 'romi sobecka'.title()
print(name)

CAT
cat
The Lord Of The Rings
Romi Sobecka

# Variables

Variables are names - a reusable label for a data value

In [ ]:
name = 'Marc'
print(name)
name = 3.14
print(name)
name = 'Benji'
print(name)

## Variable Naming Rules

There are some special rules governing variable names:

* variable names may start with a letter or an underscore
* the rest of the letters in the name may be letters, numbers or underscore
case is significant
* `name` is different from `NAME`, which is different from `NaMe`

## Reserved Words

The following words have special meaning in Python. We call them keywords or reserved words and you may not use these names for your variables.

> ```and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return, True, try, while, with, yield```

Try using one of these as a variable and see what happens...

In [ ]:
False = 'Marc'

SyntaxError: ignored

## Challenge

Which of the following are legal Python variable names?
```
average = 1 
Max = 1
print = 1  
LadyGaGa = 1  
_Lady_Ga_Ga = 1
FiftyYardLine = 1    
50_yard_line = 1  
yard_line_50 = 1  
raise = 1  
my-cat-is-awesome = 1
my_cat_is_awesome = 1  
```

# Assignment Statements

Assignment statements are used to associate a variable name with some simple or complex value
general form:   

    variable_name = 'some_value'

If a variable doesn’t already exist, when you assign to it, Python creates it on the fly.

If you assign to a variable that already exists, Python replaces its current value with a new value.

## Examples

    instructor = 'marc'         # string value
    instructor = 'my evil twin' # same name, diff string value
    instructor = 42             # same name, integer value
    todays_high_temp = 71.3     # diff name, floating point value

Try some experiments in the next cell...

In [ ]:
a = 0
print('a =', a)
a = 42
print('a =', a)
a = 3.14159
print('a =', a)
a = "Marc"
print('a =', a)

b = 42
print('a =', a, 'b =', b)

a = b
print('a =', a, 'b =', b)

a = 0
a = 42
a = 3.14159
a = Marc
a = Marc b = 42
a = 42 b = 42

## Usage Example

Let's print a list of the first 9 multiples of 9...

In [ ]:
# Tedious version...

print(1*9)
print(2*9)
print(3*9)
print(4*9)
print(5*9)
print(6*9)
print(7*9)
print(8*9)
print(9*9)

9
18
27
36
45
54
63
72
81

In [ ]:
# Nicer version...

factor = 8
print(1*factor)
print(2*factor)
print(3*factor)
print(4*factor)
print(5*factor)
print(6*factor)
print(7*factor)
print(8*factor)
print(9*factor)

8
16
24
32
40
48
56
64
72

Why is that nicer? Think about changing the requirement to print multiples of eight, instead of nine. How many lines would you have to change in the firat example? How about the second example?

The second example uses a redirection via a variable to make the code much easier to update. This is a very powerful and important concept in software engineering.

In [ ]:
# Coming soon...

factor = 9
for i in range(1, 9):
  print(i * factor)

9
18
27
36
45
54
63
72

## Challenge

In the next cell, create a program that calculates how many cans of cat food you need to feed 10 cats. You will need:

* A variable for the number of cats
* A variable for the number of cans each cat eats in a day
* A `print()` function call to output the result

Extension: change the calculation to work out the amount needed for 7 days.

In [ ]:
# Add your cat food program here.

# F (format) Strings

Python has a special type of string called a format (or 'f') string, which enables you to "interpolate" a variable into a string, like this:

In [ ]:
x = 3.14
msg = f'My name is {x}'
print(msg)

My name is 3.14

In [ ]:
# The hard way to format strings...

fruit = 'oranges'
quantity = 12
unit_cost = 0.50
total_cost = unit_cost * quantity
output = str(quantity) + ' ' + fruit + ' ' + 'cost £' + str(total_cost)
print(output)

In [ ]:
# The easy way to format strings...

fruit = 'oranges'
quantity = 12
unit_cost = 0.50
total_cost = unit_cost * quantity
output = f'{quantity} {fruit} cost £{total_cost:.2f}'
print(output)

12 oranges cost £6.00

### Challenge

In the following cell, rewrite cat_food.py to use f-string instead of joining strings with + .

In [ ]:
# Add your revised cat food program here.

# Example Programs

### 1 - Print a Multiplication Table

In [ ]:
for i in range(1,10):
  print(i, end=' ')
  for j in range(2, 10):
    print(f'{i*j:2}', end=' ')
  print()

## 2 - Search IMDb

In [ ]:
!pip install -q imdbpy
from imdb import IMDb
from IPython.display import Image

In [ ]:
title = 'the godfather'
imdb = IMDb()  # create imdb API object
results = imdb.search_movie(title)

for i in results:
  if i.data['kind'] == 'movie':
    movie = imdb.get_movie(i.movieID)
    imdb.update(movie, info=['vote details'])
    if 'rating' in movie.data:
      display(Image(url=movie.data['cover url']))
      print(movie, movie.data['rating'])

## 3 - Generate a Histogram

In [ ]:
import seaborn as sns

countries = ['UK', 'UK', 'Israel', 'India', 'UK', 'India', 'UK', 'Sweden', 
             'India', 'India', 'India', 'India', 'UK', 'India', 'Nigeria', 
             'US', 'Afghanistan', 'Afghanistan', 'US', 'UK', 'US', 
             'Afghanistan', 'UK']
sns.countplot(countries)

# Resources

* [The official Python site](https://python.org)
* [Install Python](https://python.org/downloads/)
* [Nice Python editor for beginners](https://codewith.my)
* [My Favorite Books for Beginning Python Students](https://mco.dev/my-favorite-books-for-beginning-python-students/)
* [repl.it](https://repl.it)
* [codingbat.com](https://codingbat.com/python)
* [Common Errors Python Beginners Encounter (with Solutions)](https://blog.repl.it/beginner-python-errors-career-karma?ref=newsletter)

# Documentation

* [Official Python Documentation](https://python.org/doc/)
* the `help` function (see example below)
* Google

In [ ]:
help(input)

# Homework

* Watch this [short video](https://www.youtube.com/watch?v=inN8seMm7UI) and take a [quick tour of Colab](https://colab.research.google.com/notebooks/intro.ipynb).
* Read Chapter 1 (Python Basics) in the free online version of [Automate the Boring Stuff with Python](http://automatetheboringstuff.com/).
* Make a copy of this notebook (if you haven't already done so) and complete the challenges above. You can make a copy of this notebook by selecting File->Save a copy in Drive from the menu bar above.
* Review your copy of this notebook.
  * Complete all the challenges.
  * Complete the four questions below.
  * If something is unclear, experiment and see if you can understand it better.

## Question 1

Prompt for user's name and print it back with "Nice to meet you, name!".

In [ ]:
# Add your code here

In [ ]:
#@title Double click here to reveal solution

name = input ('What is your name? ')
print ('Nice to meet you,', name +'!')

## Question 2

Prompt for dog's age and return in people years.

In [ ]:
dog_age = input('how old is doggy? ')
conversion_factor = 7
human_years = float(dog_age) * conversion_factor
print(f'{dog_age} = {human_years} human years')

how old is doggy? 10.345
10.345 = 72.415 human years

In [ ]:
#@title Double click here to reveal solution

dog_to_people_years = 7
dog_age = input('How old is your dog? ')
people_age = int(dog_age) * dog_to_people_years
print(dog_age,'dog years =',  str(people_age), 'people years.')

## Question 3 

Write a program to calculate the total number of hours in a fixed set of days, where the number of days is assigned to a variable.

In [ ]:
# Add your code here

In [ ]:
#@title Double click here to reveal solution

days = 365
hours = 24
total_hours = days * hours
msg = f'There are {total_hours} hours in {days} days.'
print(msg)

## Question 4

Write some Python code that uses all the maths operators you've learned.

In [ ]:
# Add your code here

In [ ]:
#@title Double click here to reveal solution

a = 2 + 3
print(a)
a = 3 - 2
print(a)
a = 2 * 3
print(a)
a = 2 / 3
print(a)
a = 2 // 3
print(a)
a = 2 % 3
print(a)
a = 2 ** 3
print(a)
a = (2 + 3) * 4
print(a)